/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
:root {
    --bg-color1: #ffffff;
    --bg-color2: #000000;
    --bg-color3: #141922;
    --bg-color4: #282828;
    --bg-color5: #808080;
    --bg-color6: #a3a3a3;
    --bg-color7: #adff2f;
    --lower-hight: 100px;
    --aside-width: 200px
}

#upper {
    height: calc(100vh - var(--lower-hight));
    display: flex;
}

#upper>aside {
    width: var(--aside-width);
}

#upper>main {
    width: calc(100% - var(--aside-width));
    overflow: auto;
}

#upper>main>* {
    margin-bottom: 20px;
}

#upper main header {
    text-align: right;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 10px;

}

#upper main>nav>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#upper>main>nav>ul>li>a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
}

.music-card {
    padding-bottom: 30px;
}

.music-card img {
    margin-left: 10px;
    padding-left: 10px;
    max-width: 170px;
}

.music-card p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

aside {
    background-color: var(--bg-color2);
    color: var(--bg-color1);
}

main {
    background-color: var(--bg-color3);
}

/ a {
    color: var(--bg-color1);

}

a:hover {
    color: var(--bg-color7);

}


.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.plb-20 {
    padding-left: 20px;
    padding-bottom: 30px;
}

.ft-15 {
    font-size: 15px;
}

/* SIDENAV */

/* aside {
    background-color: #060505;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px 0 0 32px;
    overflow: hidden;
}

.logo img {
    max-width: 150px;
    background-color: transparent;
}

aside #aside-top .menulink li {
    padding: 6px 6px 6px 0;
    text-decoration: none;
    font-size: 15px;
    color: var(--bg-color5);
    display: block;
}

.menulink li:first-child {
    color: white;
    padding-left: 10px;
    border-left: 2px solid green;
}

.menulink i {
    padding-right: 20px;

}



.fa-home,
.fa-search,
.fa-book,
.fa-plus {
    color: white;
    background-color: transparent;
}

/* MAIN SECTION */


/* main {
    background-color: var(--bg-color3);
    margin-left: 250px;
    margin-bottom: 60px;
    color: white;
    overflow-y: auto;
} */





/* .toplist ul li {
    padding-right: 20px;
    font-weight: bold;
    color: var(--bg-color1);
    letter-spacing: 2px;
    list-style: none;
    justify-content: space-between;
}

.toplist ul li>a {
    text-decoration: none;
} */





/* .toplist {
    display: flex;
    justify-content: center;
    width: 100%;
} */

/* .container-flex {
    display: flex;
    flex-grow: grow wrap;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
} */

/* .container-flex .toplist {
    color: var(--bg-color1);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
} */



/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
}

*/ */